body {

    background-color: white;

}

p {

    font-family: 'Poppins', sans-serif; 


}


.workArea {

    display: flex;

    justify-content: center;

    margin-top: 5px;

}


.inputArea {

    width: 400px;
    height: 350px;

    background-color: rgb(227, 227, 227);

    border-radius: 15px;

    margin-right: 25px;

    padding: 25px;

}

.inputArea button {

    background-color: rgb(162, 85, 233);

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 40px;
    height: 40px;
    color: white;

    border-radius: 5px;
    border-color: transparent;

}

.inputArea button:hover {

    background-color: slategrey;

}

.inputArea select {

    font-family: 'Poppins', sans-serif;

    width: 100px;
    height: 40px;

    border-radius: 10px;

    padding-left: 5px;

    border-color: transparent;

}


.imgArea {

    display: flex;

    width: 450px;
    height: 400px;

    background-color: blueviolet;

    border-radius: 15px;

    justify-content: center;
    align-items: center;

}

.imgArea img {

    width: 75%;
    height: auto;

}

.titleCalc {
    display: flex;

    font-family: 'Poppins', sans-serif;

    justify-content: center;

}

.stripes {
    display: flex;
    justify-content: space-between;

    position: absolute;

    width: 150px;
    height: 68px;

    margin-bottom: 17px;
    
    background-color: transparent;


}

#stripe_1 {

    height: 68px;
    width: 18px;

    background-color: brown;




}

#stripe_2 {

    height: 68px;
    width: 18px;

    background-color: brown;




}
#stripe_3 {

    height: 68px;
    width: 18px;

    background-color: brown;




}
#stripe_4 {

    height: 68px;
    width: 18px;

    background-color: brown;




}
#stripe_5 {

    height: 68px;
    width: 18px;

    background-color: brown;




}
#stripe_6 {

    height: 68px;
    width: 18px;

    background-color: brown;




}